.navbar {
  background-color: #485A5E;
}

.navbar-brand {
  cursor: pointer;
  color: #FFFFFF;
}

.navbar-brand:hover {
  color: #64dcfa;
}

.nav-link {
  cursor: pointer;
}

.navbar-text, .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
  color: #fff266
}